/* Archivo: styles/rafting.css */

/* Definir variables CSS */
:root {
    --primary-color: #eca72c;
    --secondary-color: #ffffff;
    --accent1-color: #3d5a80;
    --accent2-color: #657153;
    --heading-font: 'fjalla one', sans-serif;
    --text-font: 'Roboto', sans-serif;
}

/* Estilos básicos */
body {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Limitar el ancho total de la página */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Estilos de los encabezados y párrafos */
h1, h2, h3 {
    color: var(--primary-color);
    font-family: var(--heading-font);
}

p {
    color: var(--secondary-color);
}

/* Estilo de enlaces de redes sociales */
a {
    text-decoration: none;
}

a:hover {
    color: var(--accent1-color);
}

/* Dar estilo al contenedor del héroe */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(194, 187, 187, 0.8);
    padding: 10px;
}

.hero article img {
    float: right;
    margin-left: 10px;
}

/* Estilos del header usando CSS Grid */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
}

header img {
    width: 100px;
}

header nav {
    display: flex;
    justify-content: space-around;
    padding: 0 20px;
}

/* Estilos de las secciones */
section {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--accent2-color);
    color: white;
    border-radius: 10px;
}

/* Estilo de los elementos de las aventuras */
.adventure-section {
    display: flex;
    justify-content: space-around;
}

figure {
    margin: 10px;
}

figcaption {
    text-align: center;
    color: var(--secondary-color);
}

/* Estilo del pie de página */
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: var(--accent1-color);
}

footer nav {
    display: flex;
    gap: 10px;
}

footer img {
    width: 30px;
}
